@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";
@media (max-width: 767px) {
  .section-title {
    text-align: center;
  }
}
body {
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: 400 20px/26px "Source Sans Pro", sans-serif;
  background-color: #ecf0f1;
}

section {
  margin-bottom: 10px;
  background-color: white;
}
section .section-title {
  color: #e74c3c;
}

h1, h2, h3, h4, h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

p {
  font: 300 16px/26px "Source Sans Pro", sans-serif;
}

strong {
  font-weight: 600;
}

.table {
  display: table;
}

.table-cell {
  float: none;
  display: table-cell;
}

/***************************** 
*         COMPONENTS         *
*****************************/
/***************************** 
*           SHAPES           *
*****************************/
/***************************** 
*           MARGIN           *
*****************************/
/***************************** 
*          PADDING           *
*****************************/
header {
  background: #3498db;
}
header .img {
  position: absolute;
  margin-top: -40px;
  margin-left: -75px;
  padding: 5px;
  width: 175px;
  height: 175px;
  border-radius: 87.5px;
  opacity: 0.0;
}
header .img-xs {
  position: absolute;
  left: calc(50% - 50px);
  margin-top: 15px;
  padding: 5px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  opacity: 0.0;
}
header .head-title {
  color: white;
  opacity: 0.0;
}
header div:nth-child(2) h1, header div:nth-child(2) h4 {
  padding-left: 300px;
}
header div:last-child h1 {
  padding-top: 100px;
}

section:nth-child(2) .table {
  padding-left: 10px;
}
section:nth-child(2) .col-md-12 div:nth-child(2) .table-cell {
  padding-top: 25px;
}
section:nth-child(2) .time-line {
  width: 5px;
  height: 0%;
  background-color: #f1c40f;
  position: absolute;
  top: 0px;
  right: 0px;
}
section:nth-child(2) .number-circle {
  position: absolute;
  display: none;
}
@media screen and (max-width: 767px) {
  section:nth-child(2) .number-circle {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    padding-top: 6px;
    background-color: #f1c40f;
    color: white;
    text-align: center;
    margin-top: 0px;
    left: -25px;
  }
}
@media screen and (min-width: 768px) {
  section:nth-child(2) .number-circle {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding-top: 6px;
    background-color: #f1c40f;
    color: white;
    text-align: center;
    margin-top: 20px;
    left: -28px;
  }
}
section:nth-child(2) .talkbubble {
  width: 100%;
  height: 100%;
  border: 2px solid #e67e22;
  border-radius: 5px;
  background-color: #e67e22;
  margin-left: 100px;
  margin-bottom: 15px;
  opacity: 0.0;
}
section:nth-child(2) .talkbubble:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  right: 100%;
  top: 28px;
  border-top: 14px solid transparent;
  border-right: 14px solid #e67e22;
  border-bottom: 14px solid transparent;
}
section:nth-child(2) .education-content {
  display: inline-block;
  color: white;
}
section:nth-child(2) .education-content h3 {
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  section:nth-child(2) .education-content {
    opacity: 0.0;
  }
}
section:nth-child(2) .education-item {
  background: linear-gradient(to right, #e67e22 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 30px;
  padding-right: 10px;
}

.experience-title {
  display: inline-block;
  margin-top: 15px;
}

.secondary section:nth-child(1) {
  padding-bottom: 15px;
}

.contact-item {
  width: 100%;
  height: 40px;
}

.contact-icon {
  display: inline-block;
  line-height: 50px;
  width: 20%;
  height: 100%;
  text-align: center;
  opacity: 0.3;
}

.contact-content {
  display: inline;
  width: 80%;
  height: 100%;
  float: right;
}

.contact-content h5 {
  margin-left: 15px;
  line-height: 20px;
}

.progress {
  margin-bottom: 15px;
  height: auto;
}

.progress-bar {
  width: 0%;
  text-align: left;
  padding-left: 2%;
  background-color: #3498db;
}

.beginner-proficient {
  display: inline-block;
  width: 40%;
  height: 10px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 1px solid black;
  opacity: 0.3;
}

.proficient-expert {
  display: inline-block;
  width: 30%;
  height: 10px;
  margin-left: -4px;
  border-bottom: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  opacity: 0.3;
}

.expert-master {
  display: inline-block;
  width: 30%;
  height: 10px;
  margin-left: -4px;
  border-bottom: 2px solid black;
  border-left: 1px solid black;
  border-right: 2px solid black;
  opacity: 0.3;
}

.skills-level {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: -4px;
  opacity: 0.3;
}

.skills-level:nth-of-type(1) {
  margin-left: 0px;
  width: 25%;
}

.skills-level:nth-of-type(2), .skills-level:nth-of-type(3) {
  width: 30%;
}

.skills-level:nth-of-type(4) {
  width: 15%;
}

table {
  width: 100%;
}

.col-title {
  width: 51%;
}

.col-circle {
  width: 9%;
}

.circle-level {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid #27ae60;
  background-color: none;
  color: white;
}

.secondary section:nth-child(4) {
  padding-bottom: 15px;
}

.item-hobbie {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0px;
}

.item-hobbie .label {
  background-color: #f1c40f;
}

.item-hobbie .label i {
  margin-left: -5px;
  margin-right: 2px;
}

/*# sourceMappingURL=style.css.map */
