/***************************** 
*         COMPONENTS         *
*****************************/
@mixin slideRectangular($initialColor, $finalColor){
    background: linear-gradient(to right, $finalColor 50%, $initialColor 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
@mixin talkbubble($width, $height, $color){
    width: $width;
    height: $height;
    border: 2px solid $color;
    border-radius: 5px;
    background-color: $color;
}
@mixin time-line($width, $height, $color){
    width: $width;
    height: $height;
    background-color: $color;
}
@mixin number-circle($size, $color){
    @if $size == $mediumCircle{
        @include circle($mediumCircle);
    }
    @if $size == $smallCircle{
        @include circle($smallCircle);
    }
    padding-top: 6px;
    background-color: $color;
    color: white;
    text-align: center;
}
@mixin levelScale($proLevel, $expLevel, $mastLevel){
    .beg-pro, .pro-exp, .exp-mast{
        display : inline-block;
        height  : 10px;
        opacity : 0.3;
    }
    .beg-pro{
        width: $proLevel;
        border-bottom   : 2px solid black;
        border-left     : 2px solid black;
        border-right    : 1px solid black;
    }
    .pro-exp{
        width: $expLevel - $proLevel;
        margin-left     : -4px;
        border-bottom   : 2px solid black;
        border-left     : 1px solid black;
        border-right    : 1px solid black;
    }
    .exp-mast{
        width           : $mastLevel - $expLevel;
        margin-left     : -4px;
        border-bottom   : 2px solid black;
        border-left     : 1px solid black;
        border-right    : 2px solid black;
    }
}
@mixin levelItem($argBeginnerItem, $argProficientItem, $argExpertItem, $argMasterItem){
    &{
        display         : inline-block;
        margin-bottom   : 10px;
        margin-left     : -4px;
        opacity         : 0.3;
    }
    &:nth-of-type(1){
        margin-left : 0px;
        width       : $argBeginnerItem;
    }
    &:nth-of-type(2){
        width       : $argProficientItem;
    }
    &:nth-of-type(3){
        width       : $argExpertItem;
    }
    &:nth-of-type(4){
        width       : $argMasterItem;
    }  
}

/***************************** 
*           SHAPES           *
*****************************/
@mixin circle($diameter){
    width: $diameter;
    height: $diameter;
    border-radius: $diameter/2;
}
@mixin dimension($width, $height){
    width: $width;
    height: $height;
}



/***************************** 
*           MARGIN           *
*****************************/
@mixin margin($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}


/***************************** 
*          PADDING           *
*****************************/
@mixin padding($top, $right, $bottom, $left){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}