/***************************** 
*          IMPORTS           *
*****************************/
@import "variables.scss";
@import "mixins.scss";



/***************************** 
*            BODY            *
*****************************/
body{
    @include padding(60px, null, 40px, null);
    background-color: $grey;
}



/***************************** 
*           HEADER           *
*****************************/
header{
    background: $blue;
    .img{
        position: absolute;
        @include margin(-40px, null, null, -75px);
        @include padding(5px, 5px, 5px, 5px);
        @include circle(175px);
        opacity: 0.0;
    }
    .img-xs{
        position: absolute;
        left: calc(50% - 50px);
        @include margin(15px, null, null, null);
        @include padding(5px, 5px, 5px, 5px);
        @include circle(100px);
        opacity: 0.0;
    }
    .head-title{
        color: white;
        opacity: 0.0; 
    }
    div:nth-child(2) h1, div:nth-child(2) h4{
        padding-left: 300px;  
    }
    div:last-child h1{
        padding-top: 100px;  
    }
}



/***************************** 
*          General           *
*****************************/
@media (max-width: 767px) {
    .section-title{
        text-align: center;
    }
}
.section-title{
    color: $red;
}
.text-education {
    display: inline-block;
    color: white;
}
.text-education-xs{
    display: inline-block;
    color: white;
    opacity: 0.0;
}
section{
    margin-bottom: 10px;
    background-color: white;
}





.table{
    display: table;
}
.table-cell{
    float: none;
    display: table-cell;
}



/***************************** 
*         EDUCATION          *
*****************************/
section:nth-child(2){
    .table{
        padding-left: 10px;
    }
    .col-md-12 div:nth-child(2).table-cell{
        padding-top: 25px;
    }
    .time-line{
        position: absolute;
        @include time-line(5px, 0%, $yellow);
        top: 0;
        right: 0;
    }
    .number-circle{
        @include number-circle("medium", $yellow);
        position: absolute;
        margin-top: 20px;
        left: -28px;
        display: none;
    }
    .number-circle-xs{
        @include number-circle("small", $yellow);
        display: none;
        position: absolute;
        left: -25px;
        display: none;
    }
    .talkbubble {
        @include talkbubble(100%, 100%, $orange);
        margin-left: 100px;
        margin-bottom: 15px;
        opacity: 0.0;
    }
    .talkbubble:before {
        content:"";
        position: absolute;
        right: 100%;
        top: 28px;
        width: 0;
        height: 0;
        border-top: 14px solid transparent;
        border-right: 14px solid $orange;
        border-bottom: 14px solid transparent;
    }
    .education-item{
        @include slideRectangular(white, $orange);
        margin-bottom: 25px;
        padding-left: 30px;
        padding-right: 10px;
    }
}



/***************************** 
*        EXPERIENCES         *
*****************************/
.experience-title{
    display: inline-block;
    margin-top: 15px;
}



/***************************** 
*          CONTACT           *
*****************************/
.secondary section:nth-child(1){
    padding-bottom: 15px;
}
.contact-item{
    width: 100%;
    height: 40px
}
.contact-icon{
    display: inline-block;
    line-height: 50px;
    width: 20%;
    height: 100%;
    text-align: center;
    opacity: 0.3;
}
.contact-content{
    display: inline;
    width: 80%;
    height: 100%;
    float: right;
}
.contact-content h5{
    margin-left: 15px;
    line-height: 20px;
}



/***************************** 
*         LAUNGAGES          *
*****************************/
table{
    width: 100%;
}
.col-title{
    width: 51%;
}
.col-circle{
    width: 9%;
}         
.circle-level{
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid $green;
    background-color: none;
    color: white;
}



/***************************** 
*           SKILLS           *
*****************************/
.progress{
    margin-bottom: 15px;
    height: auto;
}
.progress-bar{
    width: 0%; 
    text-align: left; 
    padding-left: 2%; 
    background-color: $blue;
}
.beginner-proficient{
    display: inline-block;
    width: 40%;
    height: 10px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 1px solid black;
    opacity: 0.3;
}
.proficient-expert{
    display: inline-block;
    width: 30%;
    height: 10px;
    margin-left: -4px;
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    opacity: 0.3;
}
.expert-master{
    display: inline-block;
    width: 30%;
    height: 10px;
    margin-left: -4px;
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    border-right: 2px solid black;
    opacity: 0.3;
}
.skills-level{
    display: inline-block;
    margin-bottom: 10px;
    margin-left: -4px;
    opacity: 0.3;
}
.skills-level:nth-of-type(1){
    margin-left: 0px;
    width: 25%;
    
}
.skills-level:nth-of-type(2), .skills-level:nth-of-type(3){
    width: 30%;
}
.skills-level:nth-of-type(4){
    width: 15%;
}



/***************************** 
*          HOBBIES           *
*****************************/
.secondary section:nth-child(4){  
    padding-bottom: 15px;  
}  
.item-hobbie{  
    display: inline-block;   
    margin-top: 10px;   
    margin-bottom: 0px;  
}  
.item-hobbie .label{  
    background-color: $yellow;  
}
.item-hobbie .label i{  
    margin-left: -5px;
    margin-right: 2px;
}
