// Imports
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600';



// Colors
$grey   : #ecf0f1;
$blue   : #3498db;
$red    : #e74c3c;
$orange : #e67e22;
$yellow : #f1c40f;
$green  : #27ae60;
$darkBlue : #2980b9;


// Screen
$extra_small_screen : 767px;
$small_screnn       : 921px;
$medium_screen      : 1199px;
$large_screen       : 1200px;


// Circles
$mediumCircle   : 50px;
$smallCircle    : 45px;


// Fonts
$fontFamily: 'Source Sans Pro', sans-serif;

$thin   : 300;
$normal : 400;
$bold   : 600;

$mainFont       : $normal 20px/26px $fontFamily;
$paragraphFont  : $thin 16px/26px $fontFamily;