/***************************** 
*           COLORS           *
*****************************/
$grey   : #ecf0f1;
$blue   : #3498db;
$red    : #e74c3c;
$orange : #e67e22;
$yellow : #f1c40f;
$green  : #27ae60;

$darkBlue : #2980b9;



/***************************** 
*          CIRCLES           *
*****************************/
$mediumCircle : 50px;
$smallCircle : 45px;