// Imports
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600';



// Colors
$grey   : #ecf0f1;
$blue   : #3498db;
$red    : #e74c3c;
$orange : #e67e22;
$yellow : #f1c40f;
$green  : #27ae60;

$darkBlue : #2980b9;


// Screen
$smallScreen: 767px;
$mediumScrenn: 768px;


// Circles
$mediumCircle   : 50px;
$smallCircle    : 45px;
$laungageCircle : 20px;


// Levels
$beginnerScale: 0%;
$proficientScale: 40%;
$expertScale: 70%;
$masterScale: 100%;

$beginnerItem: 25%;
$proficientItem: 30%;
$expertItem: 30%;
$masterItem: 15%;


// Fonts
$fontFamily: 'Source Sans Pro', sans-serif;

$thin   : 300;
$normal : 400;
$bold   : 600;

$mainFont       : $normal 20px/26px $fontFamily;
$paragraphFont  : $thin 16px/26px $fontFamily;