---
layout: default
---

<div class="row">
    
    <div class="col-sm-7 col-md-8 principal">
        <!-- ABOUT ME -->
        {% include about_me.html %}
        
        <!-- EDUCATION -->
        {% include educations.html %}
        <!-- EXPERIENCES -->
        
        {% include experiences.html %}
    </div>
        
    <div class="col-sm-5 col-md-4 secondary">
        <!-- CONTACT -->
        {% include contacts.html %}
        
        <!-- SKILLS -->
        
        {% include skills.html %}
        <!-- LAUNGAGES -->
        {% include laungages.html %}
        
        <!-- HOBBIES -->
        {% include hobbies.html %}
    </div>

</div>