<section class="row">
    <div class="col-md-12">
        <h3 class="section-title"><strong>// EXPERIENCES</strong></h3>
        <div class="hidden-xs row">
            <span class="col-sm-2 experience-title">
                <h4>Twitter</br><small>2002-2003</small></h4>
            </span>
            <span class="col-sm-10">
                <h3>Front-end developer / php programmer</h3>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, et, illum perferendis veritatis velit sunt similique qui magni totam harum tempore eius laboriosam accusantium necessitatibus voluptatum? Enim, itaque dignissimos quia.</p>
            </span>
        </div>
        <div class="visible-xs row">
            <span class="col-xs-12">
                <h3>Twitter: <small>2002-2003</small></h3>
                <p align="justify"><strong>Front-end developer / php programmer: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, et, illum perferendis veritatis velit sunt similique qui magni totam harum tempore eius laboriosam accusantium necessitatibus voluptatum? Enim, itaque dignissimos quia.</p>
            </span>
        </div>
        <div class="hidden-xs row">
            <span class="col-sm-2 experience-title">
                <h4>Google</br><small>2004-2007</small></h4>
            </span>
            <span class="col-sm-10">
                <h3>Web Developer</h3>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, nihil sit nemo voluptatem praesentium. Quia, qui facere consectetur libero asperiores fugiat consequuntur deserunt culpa repudiandae sed quidem voluptas explicabo soluta.</p>
            </span>
        </div>
        <div class="visible-xs row">
            <span class="col-xs-12">
                <h3>Google: <small>2004-2007</small></h3>
                <p align="justify"><strong>Web Developer: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, nihil sit nemo voluptatem praesentium. Quia, qui facere consectetur libero asperiores fugiat consequuntur deserunt culpa repudiandae sed quidem voluptas explicabo soluta.</p>
            </span>
        </div>
    </div>
</section>