<section class="row">
    <div class="col-md-12">
        <h3 class="section-title"><strong>// HOBBIES</strong></h3>
        <h3 class="item-hobbie">
            <span class="label label-default">
                <i class="fa fa-heart fa-fw" aria-hidden="true"></i>Games
            </span>
        </h3>
        <h3 class="item-hobbie">
            <span class="label label-default">
                <i class="fa fa-heart fa-fw" aria-hidden="true"></i>Documantary
            </span>
        </h3>
        <h3 class="item-hobbie">
            <span class="label label-default">
                <i class="fa fa-heart fa-fw" aria-hidden="true"></i>Films
            </span>
        </h3>

        <!----------------------- * add your hobbie item here * ------------------------+
        |                                                                               |
        |   <h3 class="item-hobbie">                                                    |
        |       <span class="label label-default">                                      |
        |           <i class="fa fa-heart fa-fw" aria-hidden="true"></i>HOBBIE NAME     |
        |       </span>                                                                 |
        |   </h3>                                                                       |
        |                                                                               |
        +------------------------------------------------------------------------------->

    </div>
</section>