<section class="row">
    <div class="col-md-12">
        
        <h3 class="section-title"><strong>// SKILLS</strong></h3>
        
        {% for item in site.data.skills.items %}
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <h5>{{ item.skill }}</h5>
            </div>
        </div>
        {% endfor %}

        <div class="beginner-proficient"></div>
        <div class="proficient-expert"></div>
        <div class="expert-master"></div>
        <span class="skills-level">Beginner</span>
        <span class="skills-level text-center">Proficient</span>
        <span class="skills-level text-center">Expert</span>
        <span class="skills-level text-right">Master</span>
        
    </div>
</section>