.secondary{
    section:nth-child(4){  
        padding-bottom: 15px;
        .item-hobbie{  
            display         : inline-block;
            margin-top      : 10px;   
            margin-bottom   : 0px;
            .label{  
                background-color: $yellow; 
                i{
                    margin-left : -5px;
                    margin-right: 2px;
                }
            }
        }
    }
} 