.secondary{
    section:nth-child(3){
        table{
            width: 100%;
        }
        .col-title{
            width: 51%;
        }
        .col-circle{
            width: 9%;
        }         
        .circle-level{
            position: relative;
            display: inline-block;
            @include circle-level($laungageCircle, $green);
        }
    }
}