.secondary{
    section:nth-child(2){
        .progress{
            margin-bottom: 15px;
            height: auto;
            .progress-bar{
                width: 0%; 
                text-align: left; 
                padding-left: 2%; 
                background-color: $blue;
            }
        }
        @include levelScale($proficientScale, $expertScale, $masterScale);
        .skills-item{
            @include levelItem($beginnerItem, $proficientItem, $expertItem, $masterItem);
        }
    }
}